%head
  %title= "#{current_page.data.title}"
  %meta{:charset => "utf-8"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", :rel => "stylesheet"}
  %link{:href => "https://fonts.googleapis.com/css?family=Lato", :rel => "stylesheet", :type => "text/css"}
  = stylesheet_link_tag "application"
  = javascript_include_tag "application"
  = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
